div#tv-radio {
    width: 900px;
    height: 580px;
    margin: auto;
    background: url("../Images/radio-tv.png") no-repeat;
}
audio#musica {
    display: block;
    position: relative;
    left: 567px; 
    top: 495px;
    width: 313px;
    height: 30px;
}
iframe {
    display: block;
    position: relative;
    left: 85px;
    top: 55px;
    width: 440px;
    height: 280px;
}
